.bg-dark-custom {
  background-color: #121212; /* غامق */
}
.text-brass {
  color: #c9a227;
}
.btn-brass {
  background-color: #c9a227;
  color: #000;
}
.btn-brass:hover {
  background-color: #b38d1e;
  color: #fff;
}
